@model OnlineShop.Models.Order
@{
    ViewData["Title"] = "Checkout";
}
@using OnlineShop.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{

    List<Product> products = HttpContextAccessor.HttpContext.Session.Get<List<Product>>("products");

    if (products == null)
    {
        products = new List<Product>();
    }

}
<h1 class="text-info"> Order Details</h1>

<form asp-action="Checkout" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border row">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="Id" />
        <div class="col-6">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>

                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="PhoneNo"></label>
                </div>
                <div class="col-8">
                    <input asp-for="PhoneNo" class="form-control" />
                    <span asp-validation-for="PhoneNo" class="text-danger"></span>

                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Email"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>

                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Address"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>

                </div>
            </div>

           
        </div>
        
        <div class="col-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in products)
                    {
                        <tr>
                            <td>@item.ProductName</td>
                            <td>@item.Price</td>
                            <td><img src="~/@item.Image" style="width: 50px; height:80px;" /></td>
                        </tr>

                    }
                </tbody>
            </table>
            <div class="text-right">
                <h3>Total Price : @products.Sum(c => c.Price)</h3>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Submit Order" />
                </div>
            </div>
        </div>

    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

