@model IEnumerable<OnlineShop.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="font-weight-normal my-0">
                        <label style="font-size:23px; color:steelblue;">@item.ProductName</label>
                    </h4>
                </div>
                <div class="card-body">
                    <img src="~/@item.Image" alt="Card Image" class="card-img-top" style="height:300px;"/>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <label style="font-size:20px; color:#a51313"><b>Price : @item.Price</b></label>
                        </div>
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id" style="color:white;" class="btn btn-success pull-right btn-outline-info">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
