@model string
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <div class="btn-group">
        <a asp-action="Edit"  class="btn btn-primary" asp-route-id="@Model"><i class="fas fa-edit"></i></a>
        <a asp-action="Details"  class="btn btn-info" asp-route-id="@Model"><i class="fas fa-list"></i></a>
        <a asp-action="Lockout"  class="btn btn-success" asp-route-id="@Model"><i class="fas fa-user-lock"></i></a>
    </div>
